html, body {
    font-family: Arial, Helvetica, sans-serif;
}
.topnav{
    height:70px;
    width:100%;
    background-color:aliceblue;
    margin-left:192px;
    margin-top:-18px;
}

/* define a fixed width for the entire menu */
.navigation {
 margin-top:-70px;
 margin-left:-7px;
  width: 200px;
  height:100%;
  background-color:azure;
}
h3{
    margin-top:-25px;
    height:15px;
    width:100%;
    font-size:10px;
    background-color:black;
    color:aliceblue;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    }
h2{
    font-size:12px;
    height:30px;
    width:40px;
    position:absolute;
    margin-top:-50px;
    margin-left:90px;
}
#Image1{
    margin-left:20px;
    height:60px;
    width:60px;
}
/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    height:100%;
}
#Button1, #Button2, #Button3, #Button4, #Button5, #Button6, #Button7, #Button8, #Button9, #Button10 {
    border:thick;
    border-bottom-color:aliceblue;
    border-radius:2px;
    width: 200px;
    text-align: left;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
    #Button1:hover, #Button2:hover, #Button3:hover, #Button4:hover, #Button5:hover, #Button6:hover, #Button7:hover, #Button8:hover, #Button9:hover, #Button10:hover {
        background-color:green;
    }

/* make ALL links (main and submenu) have padding and background color */
    .mainmenu Button {
        display: block;
        background-color: #CCC;
        text-decoration: none;
        padding: 10px;
        color: #000;
    }

/* add hover behaviour */
        .mainmenu Button:hover {
            background-color: #C5C5C5;
        }


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display:block;
  max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

    .submenu Button1 {
        background-color:aqua;
    }

/* hover behaviour for links inside .submenu */
        .submenu Button:hover {
            background-color: #666;
        }

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}