<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CargoShiping.Properties.Settings.shippingrecordsConnectionString"
            connectionString="Data Source=DESKTOP-9M7SHOQ;Initial Catalog=shippingrecords;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>